@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #38bdf8;
  --color-accent: #818cf8;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-primary);
  color: #f8fafc;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9;
}
